html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
picture {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: none;
  border: none;
  border: none;
  background: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container-wrapper {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 50px;
}

.hero-container {
  background: linear-gradient(45deg, #1b13a6 49.59%, #443cdf 88.57%), #fff;
  padding-bottom: 175px;
}
.hero-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0;
}
.hero-container .header .nav {
  flex-wrap: wrap;
  display: flex;
}
.hero-container .header .nav .header-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 32px;
  color: #b6b3eb;
}
.hero-container .header .nav .header-nav .active {
  color: #fff;
}
.hero-container .header .nav .header-nav .btn {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 24px;
  border-radius: 8px;
}
.hero-container .header .nav .menu-bar {
  display: none;
}

.heading {
  display: flex;
  padding-top: 89px;
  justify-content: space-between;
}
.heading .section-left {
  max-width: 586px;
}
.heading .section-left .title {
  padding-bottom: 32px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1.12px;
  color: #fff;
}
.heading .section-left .description {
  color: #b6b3eb;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 32px;
}
.heading .section-left a {
  display: inline-flex;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}
.heading .section-left .btn {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}
.heading .section-left .btn .open-bank-account {
  background: #fff;
  color: #110c64;
}
.heading .section-left .btn .learn-more {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  background: none;
  padding-right: 32px;
}

.information {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 52px;
}
.information .information-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.information .information-description {
  color: #b6b3eb;
  font-size: 16px;
  font-weight: 400;
}
.information .gap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*# sourceMappingURL=style.css.map */
