<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="../templates/assets/header_template/header_style.css"
    />
  </head>
  <body>
    <div class="template-header" id="template-header">
      <div class="template-logo">
        <p class="edit">Logo</p>
      </div>
      <div class="navbar">
        <ul class="">
          <li class="edit"><a href="#">Home</a></li>
          <li class="edit"><a href="#">About</a></li>
          <li class="edit"><a href="#">Services</a></li>
          <li class="edit"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
