<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/templates/assets/template1/style/style.css" />
  </head>

  <body>
    <div class="hero-container">
      <div class="container-wrapper">
        <header class="header">
          <picture>
            <a href="#">
              <img
                src="./templates/assets/template1/img/logo.svg"
                alt="logo"
                class="draggable"
              />
            </a>
          </picture>
          <nav>
            <div class="nav draggable">
              <ul class="header-nav big-screen">
                <li>
                  <a class="header-nav active" href="#">Home</a>
                </li>
                <li>
                  <a class="header-nav" href="#">Services</a>
                </li>
                <li>
                  <a class="header-nav" href="#">Contact</a>
                </li>
                <li>
                  <a class="header-nav" href="#">About us</a>
                </li>
              </ul>

              <div class="sign-up">
                <a class="active btn small" href="#">Sign Up</a>
              </div>

              <div class="menu-bar">
                <figure>
                  <img
                    src="./templates/assets/template1/img/menu-icon.svg"
                    alt=""
                  />
                </figure>
              </div>
            </div>
          </nav>
        </header>

        <section class="heading">
          <div class="section-left">
            <span class="title draggable"
              >Discover Financial Freedom with LegacyLine</span
            >
            <p class="description">
              Welcome to our bank's website, where we provide secure financial
              solutions tailored to meet your unique needs.
            </p>
            <div class="btn">
              <a href="#" class="open-bank-account">Open Bank Account</a>
              <a href="#" class="learn-more">Learn More</a>
            </div>
            <div class="information">
              <div class="transcation-fee gap">
                <span class="information-title">&lt;0.1%</span>
                <span class="information-description">Transaction Fees</span>
              </div>
              <div class="saving-percentage gap">
                <span class="information-title">+14%</span>
                <span class="information-description">Savings Percentage</span>
              </div>
              <div class="business-owner gap">
                <span class="information-title">+2.9M</span>
                <span class="information-description">Buisness Owner</span>
              </div>
            </div>
          </div>
          <div class="section-right">
            <picture>
              <img
                src="./templates/assets/template1/img/mobile.svg"
                alt="mobile"
              />
            </picture>
          </div>
        </section>
      </div>
    </div>

    <!-- <section class="icon">
      <div class="container-wrapper">
        <div class="icon-wrapper">
          <figure>
            <img
              src="../templates/assets/template1/img/binance.svg"
              alt="binance"
            />
          </figure>
          <figure>
            <img src="../templates/assets/template1/img/ibm.svg" alt="ibm" />
          </figure>
          <figure>
            <img src="../templates/assets/template1/img/pnc.svg" alt="pnc" />
          </figure>
          <figure>
            <img
              src="../templates/assets/template1/img/theworldbank.svg"
              alt="theworldbank"
            />
          </figure>
          <img
            src="../templates/assets/template1/img/stripe.svg"
            alt="stripe"
          />
        </div>
      </div>
    </section>

    <section class="benefits">
      <div class="container-wrapper">
        <span class="title-content">Our Key Benefits</span>
        <div class="benefits-list">
          <card class="financial-services card">
            <div class="card-content">
              <div class="icon-with-title">
                <figure>
                  <img
                    src="../templates/assets/template1/img/bank.svg"
                    alt="bank"
                  />
                </figure>
                <h2>Financial Services</h2>
              </div>
              <div class="card-description">
                <p>
                  Banks provide a wide range of financial services, including
                  checking and savings accounts, loans, credit cards, and
                  investment production...
                </p>
                <div class="read-more">
                  <a href="#">Read more</a>
                  <figure>
                    <img
                      src="../templates/assets/template1/img/arrow-right.svg"
                      alt="arrow_forward"
                    />
                  </figure>
                </div>
              </div>
            </div>
          </card>

          <card class="safety-and-security card">
            <div class="card-content">
              <div class="icon-with-title">
                <figure>
                  <img
                    src="../templates/assets/template1/img/safety.svg"
                    alt="safety"
                  />
                </figure>
                <h2>Safety and Security</h2>
              </div>
              <div class="card-description">
                <p>
                  Deposits in most banks are insured by government agencies,
                  such as the Federal Deposit Insurance Corporation
                  &#x28;FDIC.....
                </p>
                <div class="read-more">
                  <a id="unselect" href="#">Read more</a>
                  <figure>
                    <img
                      src="../templates/assets/template1/img/black-arrow-right.svg"
                      alt="arrow_forward"
                    />
                  </figure>
                </div>
              </div>
            </div>
          </card>

          <card class="economic-stability card">
            <div class="card-content">
              <div class="icon-with-title">
                <figure>
                  <img
                    src="../templates/assets/template1/img/statistic-up.svg"
                    alt="statistic-up"
                  />
                </figure>
                <h2>Economic Stability</h2>
              </div>
              <div class="card-description">
                <p>
                  Deposits in most banks are insured by government agencies,
                  such as the Federal Deposit Insurance Corporation
                  &#x28;FDIC.....
                </p>
                <div class="read-more">
                  <a id="unselect" href="#">Read more</a>
                  <figure>
                    <img
                      src="../templates/assets/template1/img/black-arrow-right.svg"
                      alt="arrow_forward"
                    />
                  </figure>
                </div>
              </div>
            </div>
          </card>
        </div>
      </div>
    </section>

    <section class="download-the-app">
      <div class="container-wrapper">
        <figure>
          <img
            src="../templates/assets/template1/img/girl-looking-at-phone.svg"
            alt="girl-looking-at-phone"
          />
        </figure>
      </div>
    </section> -->

    <!-- What Our Clients Say About Us -->
    <!-- <section class="about-us">
      <div class="container-wrapper">
        <div class="about-us-wrapper">
          <div class="about-us-title">
            <span class="title-content">What Our Clients Say About Us</span>
            <figure>
              <a href="#"
                ><img
                  class="left-arrow arrow"
                  src="../templates/assets/template1/img/arrow-left.svg"
                  alt="arrow-left"
              /></a>
              <a href="#"
                ><img
                  class="right-arrow arrow"
                  src="../templates/assets/template1/img/arrow-right.svg"
                  alt="arrow-right"
              /></a>
            </figure>
          </div>
          <div class="client-wrapper">
            <div class="about-us">
              <card class="card select">
                <div class="card-description color">
                  <p>
                    I've been using LegacyLine for several years now, and I
                    couldn't be happier with their services. The mobile banking
                    app they provide is an absolute game-changer. It's
                    incredibly user-friendly and has made managing my finances a
                    breeze.
                  </p>
                </div>
                <div class="line">
                  <figure>
                    <img
                      id="jerry"
                      src="../templates/assets/template1/img/line.svg"
                      alt="line"
                    />
                  </figure>
                </div>
                <div class="client-frame">
                  <figure>
                    <img
                      src="../templates/assets/template1/img/jerry-helfer.svg"
                      alt="jerry-helfer"
                    />
                  </figure>
                  <div class="client-info">
                    <h2>Jerry Helfer</h2>
                    <span id="select">24 Oct, 2023</span>
                    <figure>
                      <img
                        src="../templates/assets/template1/img/star.svg"
                        alt="star"
                      />
                    </figure>
                  </div>
                </div>
              </card>

              <card class="card">
                <div class="card-description">
                  <p>
                    I've been using LegacyLine for several years now, and I
                    couldn't be happier with their services. The mobile banking
                    app they provide is an absolute game-changer. It's
                    incredibly user-friendly and has made managing my finances a
                    breeze.
                  </p>
                </div>
                <div class="line">
                  <figure>
                    <img
                      src="../templates/assets/template1/img/line.svg"
                      alt="line"
                    />
                  </figure>
                </div>
                <div class="client-frame">
                  <figure>
                    <img
                      src="../templates/assets/template1/img/mary-freund.svg"
                      alt="mary-freund"
                    />
                  </figure>
                  <div class="client-info">
                    <h2>Mary Freund</h2>
                    <span>24 Oct, 2023</span>
                    <figure>
                      <img
                        src="../templates/assets/template1/img/star.svg"
                        alt="star"
                      />
                    </figure>
                  </div>
                </div>
              </card>
              <card class="card">
                <div class="card-description">
                  <p>
                    I've been using LegacyLine for several years now, and I
                    couldn't be happier with their services. The mobile banking
                    app they provide is an absolute game-changer. It's
                    incredibly user-friendly and has made managing my finances a
                    breeze.
                  </p>
                </div>
                <div class="line">
                  <figure>
                    <img
                      src="../templates/assets/template1/img/line.svg"
                      alt="line"
                    />
                  </figure>
                </div>
                <div class="client-frame">
                  <figure>
                    <img
                      src="../templates/assets/template1/img/stephanie-nicol.svg"
                      alt="stephanie-nicol"
                    />
                  </figure>
                  <div class="client-info">
                    <h2>Stephanie Nicol</h2>
                    <span>24 Oct, 2023</span>
                    <figure>
                      <img
                        src="../templates/assets/template1/img/star.svg"
                        alt="star"
                      />
                    </figure>
                  </div>
                </div>
              </card>
            </div>
          </div>
          <div class="carosel">
            <figure>
              <img
                class="carosel-select"
                src="../templates/assets/template1/img/blue-carosel-rectangle.svg"
                alt="carosel-rectangle"
              />
            </figure>
            <figure>
              <img
                src="../templates/assets/template1/img/carosel-rectangle.svg"
                alt="carosel-rectangle"
              />
            </figure>
            <figure>
              <img
                src="../templates/assets/template1/img/carosel-rectangle.svg"
                alt="carosel-rectangle"
              />
            </figure>
            <figure>
              <img
                src="../templates/assets/template1/img/carosel-rectangle.svg"
                alt="carosel-rectangle"
              />
            </figure>
          </div>
        </div>
      </div>
    </section> -->

    <!-- guideline -->
    <!-- <section class="guideline">
      <div class="container-wrapper">
        <div class="guideline-upper-container">
          <span>Guideline</span>
          <div class="guideline-contents">
            <p>
              Banks provide a range of financial services, including savings
              accounts, loans, and investment opportunities,
            </p>
            <p>
              to help individuals and businesses manage their money, grow their
              wealth, and achieve their financial goals.
            </p>
          </div>
        </div> -->

    <!-- timeline -->
    <!-- <div class="timeline">
          <div class="upper-timeline">
            <div class="upper-timeline-first rectangle">
              <div class="budgeting-tools list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/budget-watch.svg"
                    alt="budget-watch"
                  />
                </figure>
                <span>Budgeting Tools</span>
              </div>
              <div class="real-time-updates list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/deposit.svg"
                    alt="huge-icon"
                  />
                </figure>
                <span>Real-time Updates</span>
              </div>
              <div class="mobile-deposits list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/carbon-time.svg"
                    alt="carbon-time"
                  />
                </figure>
                <span>Mobile Deposits</span>
              </div>
            </div>

            <div class="upper-timeline-second box">
              <span>2023 Dec</span>
            </div>

            <div class="upper-timeline-third rectangle">
              <div class="savings-goals list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/wallet.svg"
                    alt="wallet"
                  />
                </figure>
                <span>Savings Goals</span>
              </div>
              <div class="investment list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/vector.svg"
                    alt="vector"
                  />
                </figure>
                <span>Investement</span>
              </div>
              <div class="mobile-deposits list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/carbon-time.svg"
                    alt="carbon time"
                  />
                </figure>
                <span>Mobile Deposits</span>
              </div>
            </div>

            <div class="upper-timeline-fourth box">
              <span>Coming Soon</span>
            </div>
          </div>

          divider -->
    <!-- <div class="line-circle">
            <div class="divider-line">
              <figure>
                <img
                  src="../templates/assets/template1/img/divider-line.svg"
                  alt="divider line"
                />
              </figure>
            </div>
            <div class="circle-overlay">
              <figure>
                <img
                  src="../templates/assets/template1/img/circle.svg"
                  alt="circle"
                />
              </figure>
              <figure>
                <img
                  src="../templates/assets/template1/img/circle.svg"
                  alt="circle"
                />
              </figure>
              <figure>
                <img
                  src="../templates/assets/template1/img/circle.svg"
                  alt="circle"
                />
              </figure>
              <figure>
                <img
                  src="../templates/assets/template1/img/circle.svg"
                  alt="circle"
                />
              </figure>
            </div>
          </div> -->

    <!-- lower timeline -->
    <!-- <div class="lower-timeline">
            <div class="lower-timeline-first box">
              <span>Completed</span>
            </div>

            <div class="lower-timeline-second rectangle">
              <div class="support list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/customer-support.svg"
                    alt="customer support"
                  />
                </figure>
                <span>24/7 Support</span>
              </div>
              <div class="loan-applications list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/real-state-agent.svg"
                    alt="real-state-agent"
                  />
                </figure>
                <span>Loan Applications</span>
              </div>
              <div class="seamless-transfers list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/transform.svg"
                    alt="transform"
                  />
                </figure>
                <span>Seamless Transfers</span>
              </div>
            </div>

            <div class="lower-timeline-third box">
              <span>2024 Mar</span>
            </div>

            <div class="lower-timeline-fourth rectangle">
              <div class="enhanced-security list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/safety-outlined.svg"
                    alt="safety"
                  />
                </figure>
                <span>Enhanced Security</span>
              </div>
              <div class="reduced-paperwork list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/receipt-long.svg"
                    alt="receipt"
                  />
                </figure>
                <span>Reduced Paperwork</span>
              </div>
              <div class="mobile-deposits list">
                <figure>
                  <img
                    src="../templates/assets/template1/img/document-transfer.svg"
                    alt="document transfer"
                  />
                </figure>
                <span>Transfer Funds</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- footer -->
    <!-- <footer>
      <div class="container-wrapper">
        <div class="subscribe-wrapper">
          <div class="subscribe-left">
            <div class="subscribe-upper">
              <h2>Subscribe to our news letter</h2>
              <p>
                I've been using LegacyLine for several years now, and I couldn't
                be happier with their services. The mobile banking app they
                provide.
              </p>
            </div>
            <div class="subscribe-lower">
              <div class="email-field">
                <span class="email">Enter your mail...</span>
                <figure>
                  <img
                    src="../templates/assets/template1/img/subscribe-line.svg"
                    alt="line"
                  />
                </figure>
              </div>
              <button class="subscribe"><a href="#">Subscribe</a></button>
            </div>
          </div>
          <div class="subscribe-right">
            <div class="menu">
              <p id="subscribe-title">Menu</p>
              <a href="#">Home</a>
              <a href="#">Services</a>
              <a href="#">Open Bank Account</a>
            </div>
            <div class="help">
              <p id="subscribe-title">Help</p>
              <a href="#">About us</a>
              <a href="#">Contact</a>
              <a href="#">Support</a>
            </div>
          </div>
        </div>
        <div class="footer-divider">
          <figure>
            <img
              src="../templates/assets/template1/img/footer-divider.svg"
              alt="footer-divider"
            />
          </figure>
          <div class="bottom-container">
            <span>2023. All Rights Reserved</span>
            <span>Privacy & Policy</span>
            <div class="bottom-container-icons">
              <figure>
                <a
                  href="#
                  "
                >
                  <img
                    src="../templates/assets/template1/img/telegram.svg"
                    alt="telegram"
                  />
                </a>
              </figure>
              <figure>
                <a href="#">
                  <img
                    src="../templates/assets/template1/img/facebook.svg"
                    alt="facebook"
                  />
                </a>
              </figure>
              <figure>
                <a href="#">
                  <img
                    src="../templates/assets/template1/img/instagram.svg"
                    alt="instagram"
                  />
                </a>
              </figure>
              <figure>
                <a href="#">
                  <img
                    src="../templates/assets/template1/img/twitter.svg"
                    alt="twitter"
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    <script src="./assets/template1/src/index.js"></script>
  </body>
</html>
